/*
colors
red: $orange; rgb(229,24,55)
gray: #808080;
*/
/************Reset**************/
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html, body, div, object, iframe, fieldset {
  margin: 0;
  padding: 0;
  border: 0; }

ol, ul {
  list-style: none;
  margin: 0;
  padding: 0; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

header, footer, nav, section, article, hgroup, figure {
  display: block; }

legend {
  display: none; }

/************End Reset**************/
/************Global**************/
body {
  background: #e1ebf8;
  color: #110000;
  font: 100%/1.4 "HelveticaNeue", "Helvetica", "Arial", sans-serif;
  padding: 0;
  -webkit-text-size-adjust: 100%;
  border-top: 20px solid #110000;
  border-bottom: 20px solid #110000; }

a {
  color: #c16100;
  text-decoration: none; }

a:hover, a:focus {
  color: #c16100; }

p {
  margin: 0 0 1em; }

img, object, video {
  max-width: 100%;
  border: 0; }

a img {
  border: 0;
  outline: 0; }

h1 {
  font-size: 3em;
  line-height: 1;
  letter-spacing: -0.02em;
  margin-bottom: 0.2em; }

h2 {
  text-transform: lowercase;
  font-size: 3em;
  line-height: 1.1;
  margin: 0 0 0.4em; }

h3 {
  font-size: 1.8em;
  margin: 0 0 0.2em;
  text-transform: lowercase; }

h2 a, h3 a {
  color: #110000; }
  h2 a:hover, h3 a:hover {
    color: #c16100; }

blockquote {
  font-size: 1.3rem;
  font-style: italic;
  margin-left: 1em;
  color: #b7c6e9; }
  blockquote p {
    margin-bottom: 0; }

input[type=search] {
  -webkit-appearance: none;
  border-radius: 0; }

::-webkit-input-placeholder {
  color: #808080; }

:-moz-placeholder {
  color: #808080; }

/************End Global**************/
/************Classes**************/
.inactive {
  color: #ddd; }

/************End Classes**************/
/************Structure**************/
.container {
  max-width: 45em;
  margin: 0 auto;
  padding: 0 1em;
  overflow: hidden; }

.header {
  text-align: center;
  max-width: 32em;
  margin: 0 auto;
  padding: 1em 0;
  position: relative; }
  @media all and (min-width: 34em) {
    .header {
      padding: 2em 0; } }

.logo {
  text-transform: lowercase;
  font-size: 3rem;
  position: relative;
  line-height: 1;
  margin: 0; }
  @media all and (min-width: 34em) {
    .logo {
      font-size: 5rem;
      display: inline-block;
      padding-left: 6rem; } }

.atom {
  display: block;
  width: 5rem;
  height: 5rem;
  padding: 10px;
  margin: 0 auto;
  border-radius: 2.5rem;
  background: #110000;
  -webkit-animation: rotation 10s linear infinite;
  -moz-animation: rotation 10s linear infinite;
  -o-animation: rotation 10s linear infinite;
  animation: rotation 10s linear infinite; }
  @media all and (min-width: 34em) {
    .atom {
      position: absolute;
      top: 0.5rem;
      left: 0;
      z-index: 1; } }
  .atom:before {
    content: "";
    display: block;
    width: 2.5rem;
    height: 2.5rem;
    background: #110000;
    border: 10px solid #e1ebf8;
    border-radius: 2rem; }
  .atom:after {
    content: "";
    display: block;
    width: 1.2rem;
    height: 1.2rem;
    border-radius: 0.6rem;
    background: #c16100;
    position: absolute;
    left: -0.3rem;
    top: 50%; }
  .atom:hover:before {
    background: #c16100; }

.tagline {
  text-transform: lowercase;
  font-size: 0.8em;
  position: relative;
  z-index: 1; }
  @media all and (min-width: 34em) {
    .tagline {
      text-align: right;
      padding-right: 0.8rem;
      margin-top: -0.7em; } }

[role=main] {
  padding-bottom: 1em; }

section {
  padding: 2em 0;
  border-top: 0.3rem solid #b7c6e9; }

[role=contentinfo] {
  text-align: center;
  font-size: 0.8em; }

/************End Structure**************/
/************Text**************/
.intro {
  font-size: 1.8rem; }
  @media all and (min-width: 34em) {
    .intro {
      text-align: center; } }

/************End Text**************/
/************Buttons**************/
.btn-group {
  text-align: center;
  margin: 1em 0;
  padding: 1em 0 2em; }

.btn {
  text-transform: lowercase;
  font-weight: bold;
  padding: 1rem;
  background: #110000;
  border-bottom: 0.3rem solid #c16100;
  color: white; }
  .btn:hover {
    background: #c16100;
    border-color: #110000;
    color: white; }
  @media all and (max-width: 34em) {
    .btn {
      display: block;
      margin-bottom: 0.25em; } }

/************End Buttons**************/
.atomic-design li {
  position: relative;
  float: left;
  width: 20%; }

/************Animations**************/
@-webkit-keyframes rotation {
  0% {
    -webkit-transform: rotate(0deg); }

  100% {
    -webkit-transform: rotate(360deg); } }

@-moz-keyframes rotation {
  0% {
    -moz-transform: rotate(0deg); }

  100% {
    -moz-transform: rotate(360deg); } }

@-o-keyframes rotation {
  0% {
    -o-transform: rotate(0deg); }

  100% {
    -o-transform: rotate(360deg); } }

@keyframes rotation {
  0% {
    transform: rotate(0deg); }

  100% {
    transform: rotate(360deg); } }
