/*------------------------------------*\
    $STYLE GUIDE CONTAINER STYLES
\*------------------------------------*/
/**
 * NOTE: These styles are specific to the style guide container and should not be modified.
 * Use style.scss for all content styles that don't pertain to the style guide container.
 *
 * Second note: Any important declarations are to prevent brand styles from overriding style guide
 */
/*------------------------------------*\
    $CONTENTS
\*------------------------------------*/
/**
 * STYLE GUIDE VARIABLES------------------Declarations of Sass variables
 * -----Font
 * -----Colors
 * -----Typography
 * -----Defaults
 * -----Breakpoints
 * MIXINS---------------------------------Sass mixins
 * RESET----------------------------------Set reset defaults
 * GLOBAL ELEMENTS------------------------Establish global styles
 * -----Main
 * -----Headings
 * -----Text-related elements (p, blockquote, lists)
 * -----Defaults
 * -----Breakpoints
 * STYLE GUIDE INTERFACE------------------CSS for the Style Guide Container. Should not influence the containing styles at all.
 * -----Header
 * -----Navigation
 * -----Controls
 * -----Main Container
 * -----Viewport
 * -----Section Headers
 * -----Code View
 */
/*------------------------------------*\
    $STYLE GUIDE VARIABLES
\*------------------------------------*/
/*Fonts*/
/* Style Guide Interface Colors */
/* Typography */
/* Defaults */
/* Dimensions */
/* Breakpoints */
/*------------------------------------*\
    $STYLE GUIDE MIXINS
\*------------------------------------*/
/*------------------------------------*\
    $STYLE GUIDE INTERFACE
\*------------------------------------*/
/* line 108, styleguide.scss */
html, body {
  margin: 0;
  padding: 0;
  -webkit-text-size-adjust: 100%;
}

/* line 114, styleguide.scss */
.sg-nav-wrapper {
  overflow: hidden;
  background: #dddddd;
}

/*------------------------------------*\
    $STYLE GUIDE HEADER
\*------------------------------------*/
/* Header */
/* line 127, styleguide.scss */
.sg-header {
  background: #222222;
  color: white;
  font-family: "HelveticaNeue", "Helvetica", "Arial", sans-serif;
  text-transform: uppercase;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  -webkit-box-shadow: inset 0 1px 0 #5f6164, inset 0 -1px 0 #2e2f2f, 0 1px 3px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: inset 0 1px 0 #5f6164, inset 0 -1px 0 #2e2f2f, 0 1px 3px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 1px 0 #5f6164, inset 0 -1px 0 #2e2f2f, 0 1px 3px rgba(0, 0, 0, 0.3);
}
/* line 142, styleguide.scss */
.sg-header * {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 148, styleguide.scss */
.sg-header ul, .sg-header ol {
  padding: 0;
  margin: 0;
}
/* line 153, styleguide.scss */
.sg-header li {
  list-style: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
}
/* line 157, styleguide.scss */
.sg-header a {
  font-size: 70%;
  color: gray;
  text-decoration: none;
  display: block;
  line-height: 1;
  padding: 1em;
  -webkit-transition: background 0.15s ease-out;
  -moz-transition: background 0.15s ease-out;
  -ms-transition: background 0.15s ease-out;
  -o-transition: background 0.15s ease-out;
  transition: background 0.15s ease-out;
  -webkit-transition: color 0.15s ease-out;
  -moz-transition: color 0.15s ease-out;
  -ms-transition: color 0.15s ease-out;
  -o-transition: color 0.15s ease-out;
  transition: color 0.15s ease-out;
}
/* line 167, styleguide.scss */
.sg-header a:hover, .sg-header a:focus, .sg-header a.active {
  color: white;
  background: rgba(255, 255, 255, 0.05);
}

/* Navigation */
/* line 177, styleguide.scss */
.sg-header .sg-nav-toggle {
  padding: 1em;
  border-bottom: 1px solid rgba(0, 0, 0, 0);
  position: relative;
  z-index: 2;
}
@media all and (min-width: 44em) {
  /* line 177, styleguide.scss */
  .sg-header .sg-nav-toggle {
    display: none;
  }
}

@media all and (max-width: 44em) {
  /* line 187, styleguide.scss */
  .sg-nav-container {
    overflow: hidden;
    max-height: 0;
    -webkit-transition: max-height 0.5s ease-out;
    -moz-transition: max-height 0.5s ease-out;
    -ms-transition: max-height 0.5s ease-out;
    -o-transition: max-height 0.5s ease-out;
    transition: max-height 0.5s ease-out;
  }
  /* line 193, styleguide.scss */
  .sg-nav-container.active {
    max-height: 50em;
  }
}

/* line 199, styleguide.scss */
.sg-nav {
  z-index: 1;
  margin: 0;
  padding: 0;
  list-style: none;
}
@media all and (min-width: 44em) {
  /* line 205, styleguide.scss */
  .sg-nav > li {
    border-bottom: 0;
    border-right: 1px solid rgba(255, 255, 255, 0.05);
    float: left;
    position: relative;
  }
  /* line 213, styleguide.scss */
  .sg-nav > li > ol {
    position: absolute;
    top: 2em;
    left: 0;
  }
}

/* line 224, styleguide.scss */
.sg-nav-Pages ol {
  width: 24em;
}
/* line 227, styleguide.scss */
.sg-nav-Pages li {
  float: left;
  width: 50%;
}

/* Accordion */
/* line 235, styleguide.scss */
.sg-acc-handle:after {
  content: ' +';
  float: right;
  font-size: 70%;
}
@media all and (min-width: 44em) {
  /* line 235, styleguide.scss */
  .sg-acc-handle:after {
    float: none;
  }
}
/* line 245, styleguide.scss */
.sg-acc-handle.active {
  color: white;
  background: rgba(255, 255, 255, 0.05);
}
/* line 248, styleguide.scss */
.sg-acc-handle.active:after {
  content: ' -';
}

/* line 255, styleguide.scss */
.sg-acc-panel {
  overflow: hidden;
  max-height: 0;
  min-width: 10em;
  background: #222222;
  -webkit-transition: max-height 0.5s ease-out;
  -moz-transition: max-height 0.5s ease-out;
  -ms-transition: max-height 0.5s ease-out;
  -o-transition: max-height 0.5s ease-out;
  transition: max-height 0.5s ease-out;
}
/* line 261, styleguide.scss */
.sg-acc-panel.active {
  max-height: 50em;
}

/* Controls (sizing, view mode) */
/* line 267, styleguide.scss */
.sg-controls {
  border: 0;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
}
/* line 274, styleguide.scss */
.sg-controls .sg-acc-panel.active {
  max-height: 17em;
}
/* line 278, styleguide.scss */
.sg-controls .sg-nav-phases .sg-acc-panel {
  min-width: 0;
}
/* line 281, styleguide.scss */
.sg-controls .sg-nav-phases .sg-acc-panel.active {
  max-height: none;
}

/* line 287, styleguide.scss */
.sg-control-trigger {
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
}
@media all and (min-width: 44em) {
  /* line 287, styleguide.scss */
  .sg-control-trigger {
    border: 0;
  }
}
@media all and (min-width: 65em) {
  /* line 287, styleguide.scss */
  .sg-control-trigger {
    float: left;
    width: 6em;
  }
}

@media all and (min-width: 44em) {
  /* line 301, styleguide.scss */
  .sg-control > li {
    float: left;
    border-bottom: 0;
    border-left: 1px solid rgba(255, 255, 255, 0.05);
  }
}

/* line 314, styleguide.scss */
.sg-control > li {
  float: left;
}
/* line 318, styleguide.scss */
.sg-control .sg-input {
  padding: 0.1em;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
/* line 326, styleguide.scss */
.sg-control .sg-input:active, .sg-control .sg-input:focus {
  outline: 0;
  background: #f7f7f7;
  color: #000;
}

@media all and (max-width: 65em) {
  /* line 334, styleguide.scss */
  .sg-quarter {
    float: left;
    width: 25%;
    border-left: 1px solid rgba(255, 255, 255, 0.05);
    text-align: center;
  }
  /* line 341, styleguide.scss */
  .sg-quarter:first-child {
    border-left: 0;
  }
}

@media all and (max-width: 65em) {
  /* line 347, styleguide.scss */
  .sg-half {
    float: left;
    width: 50%;
    border-left: 1px solid rgba(255, 255, 255, 0.05);
    text-align: center;
  }
  /* line 354, styleguide.scss */
  .sg-half:nth-child(odd) {
    border-left: 0;
  }
}

/* line 360, styleguide.scss */
.sg-current-size {
  font-size: 70%;
  color: gray;
  padding: 0.8em 0.95em;
}
/* line 366, styleguide.scss */
.sg-current-size:hover .sg-input {
  background: #f7f7f7;
  color: #000;
}
@media all and (min-width: 65em) {
  /* line 360, styleguide.scss */
  .sg-current-size {
    float: left;
  }
}

/* line 377, styleguide.scss */
.sg-size-options {
  max-width: 10em;
}
@media all and (min-width: 65em) {
  /* line 377, styleguide.scss */
  .sg-size-options {
    position: static;
    max-height: none;
    max-width: none;
  }
  /* line 385, styleguide.scss */
  .sg-size-options li {
    float: left;
    border: 0;
    border-left: 1px solid rgba(255, 255, 255, 0.05);
  }
}

/* line 393, styleguide.scss */
#sg-form {
  margin: 0;
  border: 0;
  padding: 0;
}

/* line 398, styleguide.scss */
.sg-input {
  margin: -2px 0 0 0;
  padding: 0;
  border: 1px solid #222;
  background-color: #222;
  color: gray;
  width: 35px;
  text-align: right;
}

/* line 408, styleguide.scss */
.sg-input-active {
  background-color: #fff;
  color: #000;
}

/* line 413, styleguide.scss */
.sg-view {
  position: relative;
}
/* line 416, styleguide.scss */
.sg-view > ul {
  position: absolute;
  top: 2em;
  left: 0;
}

/*------------------------------------*\
    $STYLE GUIDE VIEWPORT
\*------------------------------------*/
/* Viewport */
/* line 430, styleguide.scss */
#sg-vp-wrap {
  text-align: center;
  width: 100%;
}
@media all and (min-width: 44em) {
  /* line 430, styleguide.scss */
  #sg-vp-wrap {
    position: fixed;
    top: 2em;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 0;
  }
}
/* line 443, styleguide.scss */
#sg-vp-wrap.wrap-animate {
  -webkit-transition: left 0.3s ease-out;
  -moz-transition: left 0.3s ease-out;
  -ms-transition: left 0.3s ease-out;
  -o-transition: left 0.3s ease-out;
  transition: left 0.3s ease-out;
}

/* line 453, styleguide.scss */
#sg-viewport {
  border: 0;
  x-margin: 0 auto;
  height: 100%;
  width: 100%;
}
/* line 459, styleguide.scss */
#sg-viewport.hay-mode {
  -webkit-transition: all 40s linear;
  -moz-transition: all 40s linear;
  -ms-transition: all 40s linear;
  -o-transition: all 40s linear;
  transition: all 40s linear;
}

/* line 468, styleguide.scss */
#sg-cover {
  width: 100%;
  height: 100%;
  display: none;
  position: absolute;
  z-index: 20;
  cursor: col-resize;
}

/* line 477, styleguide.scss */
#sg-gen-container {
  height: 100%;
  text-align: center;
  margin: 0 auto;
}
/* line 482, styleguide.scss */
#sg-gen-container.hay-mode {
  -webkit-transition: all 40s linear;
  -moz-transition: all 40s linear;
  -ms-transition: all 40s linear;
  -o-transition: all 40s linear;
  transition: all 40s linear;
}

/* line 491, styleguide.scss */
#sg-rightpull-container {
  width: 10px;
  float: right;
  margin: 0;
  height: 100%;
  cursor: col-resize;
}

/* line 499, styleguide.scss */
#sg-rightpull {
  margin: 0;
  width: 10px;
  height: 100%;
  background: #999;
  -webkit-transition: background 0.2s ease-out;
  -moz-transition: background 0.2s ease-out;
  -ms-transition: background 0.2s ease-out;
  -o-transition: background 0.2s ease-out;
  transition: background 0.2s ease-out;
}
/* line 510, styleguide.scss */
#sg-rightpull:hover {
  background: #666;
}
/* line 514, styleguide.scss */
#sg-rightpull:active {
  cursor: col-resize;
  background: #444;
}

/* line 520, styleguide.scss */
.vp-animate {
  -webkit-transition: width 0.8s ease-out;
  -moz-transition: width 0.8s ease-out;
  -ms-transition: width 0.8s ease-out;
  -o-transition: width 0.8s ease-out;
  transition: width 0.8s ease-out;
}

/*------------------------------------*\
    $STYLE GUIDE CONTENT
\*------------------------------------*/
/* Section Head */
/* line 537, styleguide.scss */
.sg-head {
  margin: 2em 0;
  font-family: "HelveticaNeue", "Helvetica", "Arial", sans-serif;
  font-size: 70%;
  font-weight: normal;
  padding: 1em;
}
/* line 543, styleguide.scss */
.sg-head a {
  display: block;
  border-bottom: 1px solid #222222;
  color: #222;
  text-decoration: none;
}
/* line 548, styleguide.scss */
.sg-head a:hover {
  color: gray;
  border-bottom-color: gray;
}

/* Section Pattern */
/* line 556, styleguide.scss */
.sg-pattern {
  margin-bottom: 2em;
  padding: 0 1em;
  overflow: hidden;
}

/* Section Sub-head */
/* line 563, styleguide.scss */
.sg-sub a:link {
  color: gray;
  border-bottom-color: gray;
}
/* line 566, styleguide.scss */
.sg-sub a:link:hover {
  color: #222222;
  border-bottom-color: #222222;
}

/* Clean View */
/* line 573, styleguide.scss */
.sg-clean .sg-main {
  padding: 0;
}

/* line 579, styleguide.scss */
.sg-code, .sg-annotations {
  clear: both;
  background: #dddddd;
  color: #222222;
  padding: 1em;
  margin: 1em 0;
}

/* line 587, styleguide.scss */
.sg-code {
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
  white-space: pre-wrap;
}

/* line 596, styleguide.scss */
.demo {
  overflow: hidden;
  margin-bottom: 1rem;
}

/* line 600, styleguide.scss */
.demo .gi, .demo .demo-block {
  background: #dddddd;
  color: gray;
  text-align: center;
  margin-bottom: 0.5em;
  padding: 1em !important;
}
/* line 607, styleguide.scss */
.demo .gi:nth-of-type(2n), .demo .demo-block:nth-of-type(2n) {
  color: #dddddd;
  background: gray;
}
/* line 612, styleguide.scss */
.demo .gi .gi, .demo .demo-block .gi {
  background: rgba(0, 0, 0, 0.1);
  color: #dddddd;
}
/* line 616, styleguide.scss */
.demo .gi .gi:nth-of-type(2n), .demo .demo-block .gi:nth-of-type(2n) {
  background: rgba(0, 0, 0, 0.3);
}

/* line 623, styleguide.scss */
.demo-animate {
  background: #dddddd;
  padding: 1em;
  margin-bottom: 1em;
  text-align: center;
}

/* line 630, styleguide.scss */
.animate-move {
  position: relative;
}
/* line 633, styleguide.scss */
.animate-move .demo-shape {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 20px;
  background: gray;
}
/* line 643, styleguide.scss */
.animate-move:hover > .demo-shape {
  left: 100%;
  margin-left: -20px;
}

/* line 651, styleguide.scss */
.sg-colors {
  overflow: hidden;
}
/* line 654, styleguide.scss */
.sg-colors li {
  overflow: hidden;
  border: 1px solid #dddddd;
  padding: 0.3em;
  margin: 0 0.2em 0.2em 0;
}
@media all and (min-width: 30em) {
  /* line 654, styleguide.scss */
  .sg-colors li {
    float: left;
    width: 5em;
  }
}

/* line 667, styleguide.scss */
.sg-swatch {
  display: block;
  height: 1.5em;
  width: 50%;
}
@media all and (max-width: 30em) {
  /* line 667, styleguide.scss */
  .sg-swatch {
    float: left;
    margin-right: 0.3em;
  }
}
@media all and (min-width: 30em) {
  /* line 667, styleguide.scss */
  .sg-swatch {
    width: 100%;
    height: 4em;
    margin-bottom: 0.2em;
  }
}

/* line 685, styleguide.scss */
.sg-label {
  line-height: 1;
}

/* line 690, styleguide.scss */
#comment-container {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 99;
  width: 100%;
  padding: 1em;
  background: red;
}
