.article {
	padding: $pad-half;
}

.article-header {
	h1 {
		font-size: 2.5em;
	}
}

.byline {
	font-size: $font-size-slightly-smaller;
	font-style: italic;
	margin-bottom: $space-half;
}

/* Wordpress Caption */
.wp-caption-text {
	font-style: italic;
}

/* Review Summary */
.review-summary {
	.grade {
		width: 4.5em;
		float: left;
		margin: 0 $space-half 0 0;
	}

	.summary-text {
		margin-left: 5em;
	}
}