/*
colors
red: $orange; rgb(229,24,55)
gray: #808080;
*/

$orange : #c16100;
$brown : #110000;
$blue-light : #e1ebf8;
$blue-med : #b7c6e9;
$white : #fff;

$max-width: 45em;

$bp-med : 34em;

$border : 0.3rem;

/************Reset**************/
* { 
	-moz-box-sizing: border-box; 
	-webkit-box-sizing: border-box; 
	box-sizing: border-box; 
}
html, body, div, object, iframe, fieldset { 
	margin: 0; 
	padding: 0; 
	border: 0;
} 
ol, ul { 
	list-style: none;
	margin: 0;
	padding: 0;
} 
table { 
	border-collapse: collapse; 
	border-spacing: 0; 
}
header, footer, nav, section, article, hgroup, figure {
	display: block;	
}
legend {
	display: none;
}
/************End Reset**************/

/************Global**************/
body {
	background: $blue-light;
	color: $brown;
	font: 100%/1.4 "HelveticaNeue", "Helvetica", "Arial", sans-serif;
	padding: 0;
	-webkit-text-size-adjust: 100%;
	border-top: 20px solid $brown;
	border-bottom: 20px solid $brown;
}
a {
	color: $orange;
	text-decoration: none;
}
a:hover, a:focus {
	color: $orange;
}
p {
	margin: 0 0 1em;
}
img, object, video {
	max-width: 100%;
	border: 0;
}
a img {
	border: 0;
	outline: 0;
}
h1 {
	font-size: 3em;
	line-height: 1;
	letter-spacing: -0.02em;
	margin-bottom: 0.2em;
}
h2 {
	text-transform: lowercase;
	font-size: 3em;
	line-height: 1.1;
	margin: 0 0 0.4em;
}
h3 {
	font-size: 1.8em;
	margin: 0 0 0.2em;
	text-transform: lowercase;
}

h2 a, h3 a {
	color: $brown;

	&:hover {
		color: $orange;
	}
}

blockquote {
	font-size: 1.3rem;
	font-style: italic;
	margin-left: 1em;
	color: $blue-med;

	p {
		margin-bottom: 0;
	}
}

input[type=search] {
	-webkit-appearance: none;
	border-radius: 0;
}
::-webkit-input-placeholder {
	color: #808080;
}
:-moz-placeholder {  
    color: #808080;
}
/************End Global**************/

/************Classes**************/
.inactive {
	color: #ddd;
}
/************End Classes**************/

/************Structure**************/
.container {
	max-width: $max-width;
	margin: 0 auto;
	padding: 0 1em;
	overflow: hidden;
}

//Header
.header {
	text-align: center;
	max-width: 32em;
	margin: 0 auto;
	padding: 1em 0;
	position: relative;

	@media all and (min-width: $bp-med) {
		padding: 2em 0;
	}
}

.logo {
	text-transform: lowercase;
	font-size: 3rem;
	position: relative;
	line-height: 1;
	margin: 0;

	@media all and (min-width: $bp-med) {
		font-size: 5rem;
		display: inline-block;
		padding-left: 6rem;
	}
	
}

.atom {
	display: block;
	width: 5rem;
	height: 5rem;
	padding: 10px;
	margin: 0 auto;
	border-radius: 2.5rem;
	background: $brown;
	-webkit-animation: rotation 10s linear infinite;
	-moz-animation: rotation 10s linear infinite;
	-o-animation: rotation 10s linear infinite;
	animation: rotation 10s linear infinite;

	@media all and (min-width: $bp-med) {
		position: absolute;
		top: 0.5rem;
		left: 0;
		z-index: 1;
	}

	&:before {
		content: "";
		display: block;
		width: 2.5rem;
		height: 2.5rem;
		background: $brown;
		border: 10px solid $blue-light;
		border-radius: 2rem;

	}

	&:after {
		content: "";
		display: block;
		width: 1.2rem;
		height: 1.2rem;
		border-radius: 0.6rem;
		background: $orange;
		position: absolute;
		left: -0.3rem;
		top: 50%;
	}

	&:hover {
		&:before {
			background: $orange;
		}
	}
}

.tagline {
	text-transform: lowercase;
	font-size: 0.8em;
	position: relative;
	z-index: 1;

	@media all and (min-width: $bp-med) {
		text-align: right;
		padding-right: 0.8rem;
		margin-top: -0.7em;
	}
}
//End Header

[role=main] {
	padding-bottom: 1em;
}

section {
	padding: 2em 0;
	border-top: $border solid $blue-med;
}

[role=contentinfo] {
	text-align: center;
	font-size: 0.8em;
}

/************End Structure**************/

/************Text**************/
.intro {
	font-size: 1.8rem;

	@media all and (min-width: $bp-med) {
		text-align: center;
	}
}

/************End Text**************/

/************Buttons**************/
.btn-group {
	text-align: center;
	margin: 1em 0;
	padding: 1em 0 2em;
}

.btn {
	text-transform: lowercase;
	font-weight: bold;
	padding: 1rem;
	background: $brown;
	border-bottom: $border solid $orange;
	color: $white;

	&:hover {
		background: $orange;
		border-color: $brown;
		color: $white;
	}

	@media all and (max-width: $bp-med) {
		display: block;
		margin-bottom: 0.25em;
	}
}
/************End Buttons**************/


/************Animations**************/
//Rotation Animation
@-webkit-keyframes rotation {
	0% { -webkit-transform: rotate(0deg); }
	100% { -webkit-transform: rotate(360deg); }
}

@-moz-keyframes rotation {
	0% { -moz-transform: rotate(0deg); }
	100% { -moz-transform: rotate(360deg); }
}
@-o-keyframes rotation {
	0% { -o-transform: rotate(0deg); }
	100% { -o-transform: rotate(360deg); }
}
@keyframes rotation {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}

