/* Headings */
/*Further Reading: http:/csswizardry.com/2012/02/pragmatic-practical-font-sizing-in-css/ */
h1, .alpha   { 
	
}

h2, .beta    { 
	
}

h3, .gamma   { 
	
}

h4, .delta   {
	
}

h5, .epsilon { 
	
}

h6, .zeta    { 
	
}

/* Subheadings */
.subheading {
	font-family: $font-secondary;
	font-weight: normal;
}
