/* Text-Related Elements */ 
p {
	margin-bottom: $space;
}

/* Blockquote */
blockquote {
	font-family:$font;
    font-style:italic;
    font-size:$font-size-norm;
    border-left:6px solid $gray;
    color: $gray;
    line-height:$space-double;
	padding-left: $pad;
	margin-bottom: $space;
}

/* Horizontal Rule */ 
hr {
	border: 0;
    height: 1px;
    background: $gray;
    margin: $space-double 0;
}

small {

}

abbr {
    border-bottom: 1px dotted $gray;
    cursor: help;
}