/* Text-Related Elements */ 
p {
	margin-bottom: $space;
}

/* Blockquote */
blockquote {
    font-style:italic;
    border-left:6px solid $gray;
    color: $gray;
	padding-left: $pad;
	margin-bottom: $space;
}

/* Horizontal Rule */ 
hr {
	border: 0;
    height: 1px;
    background: $gray;
    margin: $space-double 0;
}

small {

}

abbr {
    border-bottom: 1px dotted $gray;
    cursor: help;
}